body {
  background-image: url("https://digwallpapers.com/wallpapers/full/6/f/0/65444-2160x3840-sports-car-background-image-phone-4k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
